*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p
{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*
p::before
{
    content: " hello ";
    display: block;
    background-color: red;
    padding: 10px;
    
}

p::after
{
   content: " hi ";
   display: block;
   background-color: rgb(0, 255, 38);
   padding: 10px;
  
}
*/

.intro
{
    margin: 20px;
    color: rgb(17, 181, 36);
}

blockquote
{
    color: rgb(180, 45, 67);
    font-size: large;
    font-family: 'Lucida Sans';
}

.intro::after
{
    content: url('Dog.jpg');   
    display: block;
    max-width: 3px;
    
}

blockquote::before
{
    content: open-quote;
    font-size: 2rem;
    color: blue;
}


blockquote::after
{
    content:close-quote;
    font-size: 2rem;
    color: blue;
}


a[data-tool-tip]
{
    position: relative;
}

a[data-tool-tip]::after
{
    content: attr(data-tool-tip);
    padding: 15px;
}