*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p
{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Impact;
    font-size: 50px;
}

p::before
{
    content: " hello ";
    display: block;
    background-color: red;
    padding: 20px;
    
}

p::after
{
   content: " hi ";
   display: block;
   background-color: rgb(0, 255, 38);
   padding: 20px;
  
}

.intro
{
    margin: 30px;
    color: rgb(17, 181, 36);
}

blockquote
{
    color: rgb(180, 45, 67);
    font-size: large;
    font-family: 'Lucida Sans';
}

.intro::after
{
    content: url('Dog.jpg');   
    height: 16px; 
    width: 33px;  
}

blockquote::before
{
    content: open-quote;
    font-size: 2rem;
    color: blue;
}


blockquote::after
{
    content:close-quote;
    font-size: 2rem;
    color: blue;
}